<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <h1>게시물목록</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>제목</th>
                <th>교수</th>
                <th>강의명</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td><a href="#" th:href="@{/posts/{id} (id=${post.id})}" th:text="${post.title}"></a></td>
                <td th:text="${post.user.name}"></td>
                <td th:text="${post.lecture.lectureName}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>