<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>코스명</th>
                <th>교수명</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lecture : ${lectures}">
                <td th:text="${lecture.lectureName}"></td>
                <td th:text="${lecture.user.name}"></td>


<!--                &lt;!&ndash; 장바구니 기능 추가 &ndash;&gt;-->
<!--                <td>-->
<!--                    <a href="#" th:href="@{/basket/{id}/add (id=${item.id})}"-->
<!--                       class="btn btn-primary" role="button">추가</a>-->
<!--                </td>-->
<!--                &lt;!&ndash;                &ndash;&gt;-->

<!--                <td>-->
<!--                    <a href="#" th:href="@{/items/{id}/edit (id=${item.id})}"-->
<!--                       class="btn btn-primary" role="button">수정</a>-->
<!--                </td>-->
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>